<div class="wrapper">
    <div class="page-header section-dark page-header-xs" style="background-image: url('./assets/img/fabio-mangione.jpg'); background-size: cover; height: 10vh;">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title" style="font-size: 55px;">CulTechConnect</h1>
                    <div class="fog-low">
                        <img src="../../../assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="../../../assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Consulter vous partenariats</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by ENA
            <!-- <h6 class="category category-absolute">Designed and coded by -->

        </h6>
    </div>

    <div class="main">
        <br>
        <br>
        <br>
        <div class="container d-flex justify-content-center align-items-center">
        <div class="col-md-9">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Evénements</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type de partenariat</th>
                    <th scope="col">Budget</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let part of parts">
                    <th scope="row">{{ part.id }}</th>
                    <td><p><a href="" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ part.idEvenement }}</a></p></td>
                    <td>{{ part.description }}</td>
                    <td>{{ part.typePartenariat }}</td>
                    <td>${{ part.budget }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>

    </div>
</div>

