<div class="wrapper">
    <div class="page-header section-dark page-header-xs" style="background-image: url('./assets/img/fabio-mangione.jpg'); background-size: cover; height: 10vh;">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title" style="font-size: 55px;">CulTechConnect</h1>
                    <div class="fog-low">
                        <img src="../../../assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="../../../assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Découvrez nos évenements</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by ENA
            <!-- <h6 class="category category-absolute">Designed and coded by -->

        </h6>
    </div>


    <div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6" *ngFor="let event of events">
            <div class="card card-register custom-card"> <!-- Ajoutez la classe personnalisée ici -->
                <h3 class="title white-text">Events</h3>
                <!-- Event Card 1 -->
                <div class="event-card">
                    <h4>{{ event.title }}</h4>
                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-success" (click)="toggleEventDetails(event.id)">Details</button>
                        <button type="button" class="btn btn-outline-dark">Participate</button>
                    </div>
                    <div class="event-details" *ngIf="event.id === activeEventId">
                        <p>Date: {{ event.date | date }}</p>
                        <p>Location: {{ event.location }}</p>
                        <p>Description: {{ event.description }}</p>
                        <button type="button" class="btn btn-secondary" (click)="open(content)">Checkout</button>
                    </div>
                        <!--Checkout Button -->
<!--                        <div class="container d-flex justify-content-center align-items-center">-->
<!--                            <button type="button" class="btn btn-outline-info btn-round" (click)="open(content)">Checkout</button>-->
<!--                        </div>-->

                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title2">Checkout</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

<!--                            // ADD PARTNERSHIP-->
                            <div class="modal-body" [hidden]="submitted">
                                <form (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label for="name">Event</label>
                                        <div class="input-group">
                                            <input id="id" [(ngModel)]="id" class="form-control" name="id" required />
                                        </div>
                                        <div *ngIf="!id" class="text-danger">Event is required.</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="name">Type de partenariat</label>
                                        <div class="input-group">
                                            <select id="typePartenariat" [(ngModel)]="partnership.typePartenariat" class="form-control" name="typePartenariat" required>
                                                <option value="" disabled selected>Select a type</option>
                                                <option value="Partenariat Commercial">Partenariat Commercial</option>
                                                <option value="Partenariat Stratégique">Partenariat Stratégique</option>
                                                <option value="Partenariat Public-Privé (PPP)">Partenariat Public-Privé (PPP)</option>
                                                <option value="Partenariat De Distribution">Partenariat De Distribution</option>
                                            </select>
                                        </div>
                                        <div *ngIf="!partnership.typePartenariat" class="text-danger">Type de partenariat is required.</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="name">Description</label>
                                        <div class="input-group">
                                            <textarea id="description" [(ngModel)]="partnership.description" class="form-control" name="description" required minlength="20"></textarea>
                                        </div>
                                        <div *ngIf="!partnership.description" class="text-danger">Description is required.</div>
                                        <div *ngIf="partnership.description && partnership.description.length < 20" class="text-danger">Description must be at least 20 characters long.</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="name">Budget</label>
                                        <div class="input-group">
                                            <input id="budget" [(ngModel)]="partnership.budget" class="form-control" name="budget" required pattern="[0-9]+" (ngModelChange)="onBudgetChange($event)" />
                                        </div>
                                        <div *ngIf="!isBudgetNumeric" class="text-danger">Budget must be a numeric value.</div>
                                    </div>

                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="submit" class="btn btn-outline-info btn-round" [disabled]="!isBudgetNumeric">Continue</button>
                                    </div>
                                </form>
                            </div >
                        </ng-template>

                    </div>

            </div>
            <div [hidden]="!submitted">
                <h4>You submitted successfully!</h4>
                <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
            </div>
        </div>
        <!-- Add more event cards here -->
    </div>
    <div class="footer register-footer text-center">
        <h6>&copy;{{ currentYear }}, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
    </div>
</div>
</div>
