.custom-card {
    background-color: #19bdd2; /* Remplacez "blue" par la couleur de votre choix */
    color: white; /* Couleur du texte, choisissez celle qui convient */
    /* Autres styles de mise en page si nécessaire */
}
.white-text {
    color: white; /* Couleur du texte en blanc */
    /* Autres styles de mise en page si nécessaire */
}

