<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">CulTechConnect - 5SAE2</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="#" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="#" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/part-client']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>partnerships</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/event']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>Events</a>
                </li>
                <!--                <li class="nav-item" *ngIf="!isDocumentation()">-->
                <!--                    <a [routerLink]="['/eventmanagement']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>Event Management</a>-->
                <!--                </li>-->
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/blog']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>blog</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/chats']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>chat</a>
                </li>

                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/demo']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>IA Assistant</a>
                </li>
                <li ngbDropdown class="nav-item">
                    <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-book-bookmark"></i>Compte</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                        <a [routerLink]="['/test']" class="dropdown-item">Compte</a>
                        <a [routerLink]="['/home']" class="dropdown-item">Log-out</a>
                    </div>

                </li>

                <!--                <li class="nav-item" *ngIf="isHome()">-->
                <!--                    <a href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local" target="_blank" class="btn btn-danger btn-round">Upgrade to Pro</a>-->
                <!--                </li>-->
                <li class="nav-item" *ngIf="isDocumentation()">
                    <a href="https://github.com/creativetimofficial/paper-kit-2-angular/issues?ref=pk2-free-local" target="_blank" class="nav-link">Have an issue</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
