<!--suppress ALL -->
<div class="custom-container">
    <div class="centered-div">

<div class="main-content">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">GALITE CAMP 2.0 </h4>
                        <p class="card-category">$3600,738</p>
                        <p class="card-category">Partenariat Commercial</p>
                    </div>
<!--                    <div class="card mb-3" style="max-width: 540px;">-->
<!--                        <div class="row no-gutters">-->
<!--                            <div class="col-md-4">-->
<!--                                <img src="https://www.marhba.com/images/auto/auto2018/coveraidawallys.jpg" class="card-img" alt="...">-->
<!--                            </div>-->
<!--                            <div class="col-md-8">-->
<!--                                <div class="card-body">-->
<!--                                    <h5 class="card-title">Card title</h5>-->
<!--                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="card mb-md-5">
                                                    <h5 class="card-title">LE SPONSORE : </h5>

                        <img src="https://www.marhba.com/images/auto/auto2018/coveraidawallys.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">L'EVENEMENT : </h5>
                            <p class="card-text"> Randotour vous emmènes vivre cette expérience unique, dans un camping de 3 jours, 2 nuitées à l’île de la galite… Pour une déconnexion totale, au vrai sens du mot. Une cure, un dépaysement, une recharge, un formatage, une lâchée prise inévitable.

                                La Galite est un archipel tunisien d’îles rocheuses rattaché au gouvernorat de Bizerte en Tunisie et situé à environ 88 kilomètres de Bizerte, à 66 kilomètres de Tabarka et à 41 kilomètres de Cap Serrat. Il s’étend sur une superficie de 8,08 km2 et contient 6 îles dont Hormis l’île principale, le galiton, la fauchelle, la galite située au centre… Ainsi, l’archipel de la Galite en Tunisie est célèbre pour ses falaises, ses jardins, les figuiers, les mûriers, les cactus, les oliviers, la vigne et les céréales.
<br>
                                ----------------
                                <br>
                                Programme                                <br>

                                ----------------                                <br>

                                * Lundi 2 octobre 2023 :                                <br>

                                - 04h00 : Rassemblement au port de Tabarka                                <br>

                                - 04h30 : Traversée vers la galite                                <br>

                                - 08h30 : Arrivée à la galite                                <br>

                                * Installation des tentes                                <br>

                                * Baignade                                <br>

                                * Randonnée vers le sommet de la galite pour assister à l’incontournable coucher de soleil                                <br>

                                * Diner et soirée loup garou                                <br>

                                <br>

                                ---------------                                <br>

                                A prévoir                                <br>

                                ---------------                                <br>

                                - Il faut prévoir une provision de nourriture qui suffira pour au moins 2 dîners, 2 petits déjeuners et 2 déjeuners                                <br>

                                - De l'eau pour 3 jours (9 litres par personne)                                <br>

                                - Des snacks et tout ce que vous voulez pour grignoter entre les repas                                <br>

                                - Une tente                                <br>

                                ----------------------------------------------------                                <br>

                                - BOISSONS ALCOOLISÉES STRICTEMENT INTERDITES                                <br>

                                - DARBOUKA ET COMPAGNIES STRICTEMENT INTERDITES                                <br>

                                - LES INSULTES ET LES MOTS GROSSIERS NE SONT PAS LES BIENVENUS                                <br>

                                - TOUS TYPES DE PÊCHE SONT INTERDITS                                <br>

                                - INTERDICTION D'ALLUMER LE FEU                                <br>

                                - LE PRÉLÈVEMENT DE COQUILLAGES EST STRICTEMENT INTERDIT                                <br>

                                - IL EST STRICTEMENT INTERDIT D'ARRACHER TOUT TYPE DE PLANTE                                <br>

                                PS : Au départ de Tabarka, il y aura une fouille des bagages par les autorités.                                <br>


                                * Frais de participation : 390 D.T                                <br>

                                - Places limitées : 19 personnes                                <br>

                                Les frais du camping ne seront remboursés que si l’événement est annulé par les organisateurs                                <br>



                                Also check out other Trips & Adventurous Activities in Tunis, Entertainment Events in Tunis.                                <br>


                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
<!--                    <div class="card-deck">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body d-flex flex-column align-items-center justify-content-center">-->
<!--                                <img src="https://www.marhba.com/images/auto/auto2018/coveraidawallys.jpg" class="card-img-top custom-image" alt="...">-->
<!--                                <h5 class="card-title">Card title</h5>-->
<!--                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

            </div>
        </div>
    </div>
</div>
    </div>
</div>