<div class="custom-container">
    <div class="centered-div">

    <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card"   style="width: 370%; height: 500px;">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Modifier Partenariats</h4>
                        <p class="card-category">Enjoy ur update</p>
                    </div>
                    <div class="card-body" *ngIf="part">
                        <form (ngSubmit)="updatePart()">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" >
                                        <input id="nomOrganisation"  [(ngModel)]="part.nomOrganisation" value="{{part.nomOrganisation}}" matInput placeholder="Nom de l'organisation" type="text">
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input id="adresse" [(ngModel)]="part.adresse"   value="{{part.adresse}}" matInput placeholder="Adress" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field >
                                        <mat-label>{{part.idEvenement}} </mat-label>
                                        <mat-select [disabled]="true" value="{{part.idEvenement}}">
                                        </mat-select>
                                        <mat-hint align="end">Here's the Event ID ^</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea id="description" [(ngModel)]="part.description" matInput placeholder="Description"></textarea>
                                    </mat-form-field>
                                    <!-- <div class="form-group">

                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>{{part.typePartenariat}}</mat-label>
                                        <mat-select [(ngModel)]="part.typePartenariat">
                                            <mat-option value="Partenariat Commercial">Partenariat Commercial</mat-option>
                                            <mat-option value="Partenariat Stratégique">Partenariat Stratégique</mat-option>
                                            <mat-option value="Partenariat Public-Privé (PPP)">Partenariat Public-Privé (PPP)</mat-option>
                                            <mat-option value="Partenariat De Distribution">Partenariat De Distribution</mat-option>
                                        </mat-select>
                                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" >
                                       <input id="budget" [(ngModel)]="part.budget"  value="{{part.budget}}" matInput placeholder="Budget" type="text">

                                    </mat-form-field>
                                </div>
                            </div>



                            <button mat-raised-button type="submit" class="btn btn-info pull-center">Update</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
<!--            <div class="col-md-4">-->
<!--                <div class="card card-profile">-->
<!--                    <div class="card-avatar">-->
<!--                        <a href="javascript:void(0)">-->
<!--                            <img class="img" src="./assets/img/faces/marc.jpg" />-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>-->
<!--                        <h4 class="card-title">Alec Thompson</h4>-->
<!--                        <p class="card-description">-->
<!--                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
<!--                        </p>-->
<!--                        <a href="javascript:void(0)" class="btn btn-info btn-round">Follow</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
    </div>
</div>
