<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register custom-blue-card">
                        <h3 class="title" style="color: white;">Welcome</h3>
                        <br>
                        <div class="social-line text-center">
                            <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="register-form">
                            <label  for="nickName" >User </label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nickName"></i>
                                  </span>
                                </div>
                                <input type="nickName" class="form-control" id="nickName" formControlName="nickName" placeholder="User" (focus)="focus=true" (blur)="focus=false" >
                            </div>
                            <label for="password">Password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                <input type="password" class="form-control" id="password" formControlName="password" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                            <button type="submit" class="btn btn-danger btn-block btn-round" [disabled]="loginForm.invalid">Se connecter</button>
                        </form>
                        <div class="forgot">
                            <a href="#" class="btn btn-link" style="color: #007186;">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
            </div>
        </div>
    </div>
</div>

<!--<div-->
<!--        class="authentication-card-container">-->
<!--    <mat-card class="authentication-card">-->
<!--        <mat-card-header> <mat-card-title>Login</mat-card-title></mat-card-header>-->
<!--        <mat-card-content>-->
<!--            <form [formGroup]="loginForm">-->
<!--                <mat-form-field>-->
<!--                    <mat-label>Username</mat-label>-->
<!--                    <input matInput formControlName="nickName" />-->
<!--                </mat-form-field>-->
<!--                <mat-form-field>-->
<!--                    <mat-label>Password</mat-label>-->
<!--                    <input matInput type="password" formControlName="password" />-->
<!--                </mat-form-field>-->
<!--            </form>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--            <button mat-raised-button color="primary" (click)="onSubmit()">-->
<!--                Login-->
<!--            </button>-->
<!--            <button mat-button routerLink="/register" routerLinkActive="active">-->
<!--                Don't have an account? Register here.-->
<!--            </button>-->
<!--        </mat-card-actions>-->
<!--    </mat-card>-->
<!--</div>-->
